<div class='modal-header'>
  <h3 class='modal-title'>Apply Stat Pool Penalty</h3>
</div>
<div class='modal-body'>
  <p>
    The lifepath '{{lifepath.name}}' contains a negative stat bonus that may be applied to either
    the physical or mental pool. Please choose how to apply the penalty:
  </p>
  <strong>Remaining Penalty:</strong>
  Either: {{unspentAmount}}/{{amount}} pts
  <br>
  <br>
  <div>
    <div class='container'>
      <div class='row'>
        <div class='col-md-2'>
          Physical Penalty
        </div>
        <div class='col-md-3'>
          {{pool.physical}}
          <div class='btn-group'>
            <button class='btn btn-default btn-xs' ng-click="incrementPool('physical')">+</button>
            <button class='btn btn-default btn-xs' ng-click="decrementPool('physical')">-</button>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-2'>
          Mental Penalty
        </div>
        <div class='col-md-3'>
          {{pool.mental}}
          <div class='btn-group'>
            <button class='btn btn-default btn-xs' ng-click="incrementPool('mental')">+</button>
            <button class='btn btn-default btn-xs' ng-click="decrementPool('mental')">-</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='modal-footer'>
  <button class='btn btn-primary' ng-click='ok()'>OK</button>
</div>