<div class='modal-header'>
  <h3 class='modal-title'>Questions Affecting {{attributeName}}</h3>
</div>
<div class='modal-body'>
  <p>
    The answers to the following questions affect your character's starting {{attributeName}} value:
  </p>
  <div class='container'>
    <div class='row' ng-repeat='q in questions'>
      <!-- Only add a break if at least something is shown for this question -->
      <br ng-show='!q.computed || displayEmotionalMath'>
      <!-- .col-md-5{ :class => "text-muted"} -->
      <div class='col-md-5 text-muted' ng-show='q.computed &amp;&amp; displayEmotionalMath'>
        {{q.question}} (Computed value is {{formatModifier(q.compute())}} {{attributeName}})
      </div>
      <div class='col-md-5' ng-hide='q.computed'>
        {{q.question}}
        <span ng-show='displayEmotionalMath'>{{q.math_label}}</span>
      </div>
      <div class='col-md-1' ng-hide='q.computed'>
        <input ng-model='q.answer' type='checkbox'>
      </div>
    </div>
  </div>
</div>
<div class='modal-footer'>
  <button class='btn btn-primary' ng-click='ok()'>OK</button>
  <button class='btn btn-warning' ng-click='cancel()'>Cancel</button>
</div>